.card {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-button {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 200px;
}

.card-button-container{
    justify-content: center;
    align-items: center;
}

.card-recto {
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 200px;
    height: 150px;
    align-items: center;
    justify-content: center;
}
