.card {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFF3D7;
    width: 60%;
    height: 385px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}


.cancel-card-button {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #FFF3D7;
    width: 200px;
    border: none;
}

.cancel-card-button:hover {
    background-color: #FFAA9B;
}

.card-button-container {
    justify-content: center;
    align-items: center;
}


.save-card-button {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #FFF3D7;
    width: 200px;
    border: none;
}
.save-card-button:hover {
    background-color: #d2ffbd;
}