.cards {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.add-card {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #FFF3D7;
    width: 400px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(255, 209, 110) 1px solid;
}

.add-card:hover {
    background-color: #f7d6a3;
}

.themeTitle {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 30px 0 0 0;
}

.add-card-button {
    margin: 50px 10px 10px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    background-color: #FFF3D7;
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(255, 209, 110) 1px solid;
    
}

.add-card-button:hover {
    background-color: #f7d6a3;
}

.card-recto {
    margin: 10px;
    padding: 18px;
    border-radius: 20px;
    border: none;
    background-color: #FFF3D7;
    width: 188px;
    height: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: rgb(255, 209, 110) 1px solid;
}

.card-buttons {
    height: 50px;
    width: 50px;
    margin: 15px 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fce8bc;
    border: none;
}

.card-buttons:hover {
    background: #f7d6a3;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}