.topbar {
    background-color: #FFF3D7;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.topbar-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.topbar-logo {
    height: 100px;
}